<h1>Pools</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @pools.each do |pool| %>
    <tr>
      <td><%= pool.id %></td>
      <td><%= link_to pool.name, pool %></td>
      <td><%= pool.city %></td>
      <td>
        <%= link_to 'Edit', edit_pool_path(pool), :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', pool, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= paginate @pools %>

<%= link_to 'New Pool', new_pool_path, :class => 'btn btn-primary' %>
