<%= form_for(@swim) do |f| %>
  <% if @swim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swim.errors.count, "error") %> prohibited this swim from being saved:</h2>

      <ul>
      <% @swim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :swam_on %><br />
    <%= f.date_select :swam_on %>
  </div>
  <div class="field">
    <%= f.label :pool_id %><br />
    <%= f.number_field :pool_id %>
  </div>
  <div class="field">
    <%= f.label :program %><br />
    <%= f.text_area :program %>
  </div>
  <div class="field">
    <%= f.label :kilometers %><br />
    <%= f.text_field :kilometers %>
  </div>
  <div class="field">
    <%= f.label :concession_card %><br />
    <%= f.number_field :concession_card %>
  </div>
  <div class="field">
    <%= f.label :purchase %><br />
    <%= f.text_field :purchase %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
