<h1>Swims</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Pool</th>
      <th>Kilometers</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @swims.each do |swim| %>
    <tr>
      <td><%= link_to swim.id, swim %></td>
      <td><%= swim.swam_on.strftime('%-d %b %Y') %></td>
      <td><%= swim.pool.name %></td>
      <td><%= number_with_precision(swim.kilometers, :precision => 3) %></td>
      <td>
        <%= link_to 'Edit', edit_swim_path(swim), :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', swim, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Swim', new_swim_path, :class => 'btn btn-primary' %>
