<h1>Swim</h1>

<table class="table">
  <tbody>
    <tr>
      <td><b>Date</b></td>
      <td><%= @swim.swam_on.strftime('%a %-d %b %Y') %></td>
    </tr>
    <tr>
      <td><b>Pool</b></td>
      <td><%= @swim.pool.name %></td>
    </tr>
    <tr>
      <td><b>Program</b></td>
      <td><%= simple_format(@swim.program) %></td>
    </tr>
    <tr>
      <td><b>Kilometers</b></td>
      <td><%= number_with_precision(@swim.kilometers, :precision => 3) %></td>
    </tr>
<% if @swim.concession_card %>
    <tr>
      <td><b>Concession card</b></td>
      <td><%= @swim.concession_card %></td>
    </tr>
<% end %>
<% if @swim.purchase %>
    <tr>
      <td><b>Purchase</b></td>
      <td><%= number_to_currency(@swim.purchase) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_swim_path(@swim), :class => 'btn btn-primary' %>
<%= link_to 'Back', swims_path, :class => 'btn' %>
